/* Form.module.css */

.user-form {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  padding: 20px;
  background: coral;
  border: 1px solid #94d9d4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #018b5a;
  font-size: 24px;
  margin: 0 0 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-label {
  color: #018b5a;
  font-size: 20px;
  margin-bottom: 5px;
}

.name-input,
.age-input {
  padding: 10px;
  border: 1px solid #94d9d4;
  border-radius: 3px;
}

.name-input:focus,
.age-input:focus {
  outline: 2px solid #94d9d4;
}

.btn-create-user {
  font-family: "VT323", monospace;
  font-size: 16px;
  background: #018b5a;
  color: #94d9d4;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 60%;
}

@media (max-width: 768px) {
  .user-form {
    max-width: 80%;
  }
  .btn-create-user {
    width: 100%;
  }
}
