/* ListItem.module.css */
.list-item {
  font-size: 1rem; /* Устанавливаем размер шрифта */
  margin-bottom: 0.5rem; /* Расстояние между элементами списка */
  color: #333; /* Цвет текста */
  list-style-type: none;
  text-align: left;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
